<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" th:href="@{/}">[[#{brand}]]</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/main}">[[#{navbar.main}]]</a>
			</li>
			<li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
				<a class="nav-link" th:href="@{/user}">[[#{navbar.users}]]</a>
			</li>
			<li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
					[[#{navbar.variety}]]
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/variety/tomatoes}">[[#{navbar.variety.tomatoes}]]</a>
					<a class="dropdown-item" th:href="@{/variety/cucumbers}">[[#{navbar.variety.cucumbers}]]</a>
					<a class="dropdown-item" th:href="@{/variety/peppers}">[[#{navbar.variety.peppers}]]</a>
					<a class="dropdown-item" th:href="@{/variety/carrots}">[[#{navbar.variety.carrots}]]</a>
					<a class="dropdown-item" th:href="@{/variety/beetroots}">[[#{navbar.variety.beetroots}]]</a>
					<a class="dropdown-item" th:href="@{/variety/potatoes}">[[#{navbar.variety.potatoes}]]</a>
					<a class="dropdown-item" th:href="@{/variety/beans}">[[#{navbar.variety.beans}]]</a>
					<a class="dropdown-item" th:href="@{/variety/cabbage}">[[#{navbar.variety.cabbage}]]</a>
					<a class="dropdown-item" th:href="@{/variety/corn}">[[#{navbar.variety.corn}]]</a>
					<a class="dropdown-item" th:href="@{/variety/squash}">[[#{navbar.variety.squash}]]</a>
					<a class="dropdown-item" th:href="@{/variety/pumpkins}">[[#{navbar.variety.pumpkins}]]</a>
					<a class="dropdown-item" th:href="@{/variety/garlic}">[[#{navbar.variety.garlic}]]</a>
					<a class="dropdown-item" th:href="@{/variety/roots}">[[#{navbar.variety.roots}]]</a>
					<a class="dropdown-item" th:href="@{/variety/berries}">[[#{navbar.variety.berries}]]</a>
					<a class="dropdown-item" th:href="@{/variety/fruits}">[[#{navbar.variety.fruits}]]</a>
				</div>
			</li>
		</ul>
		
		<div id="i18n">
			<span th:text="${#locale.language}" id="currentLocale" style="display: none"></span>
			<span th:text="#{navbar.lang.change}"></span>:
			<select id="locales">    			
    			<option value="en" th:text="#{navbar.lang.en}"></option>
	    		<option value="ru" th:text="#{navbar.lang.ru}"></option>
	    		<option value="uk" th:text="#{navbar.lang.uk}"></option>
			</select>
		</div>
		<div class="navbar-nav nav-item" sec:authorize="isAuthenticated()">
			<a class="nav-link" th:href="@{/user/profile}">[[${#authentication.principal.firstName}]] [[${#authentication.principal.lastName}]]</a>
		</div>
		<form class="form-inline" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">[[#{navbar.quit}]]</button>
		</form>
	</div>
	<script src="../../js/navbar.js"></script>
</nav>

</html>